.normflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upcase {
  text-transform: uppercase;
}

.orange-class {
  color: $orange_color;
}

.red-class {
  color: var(--error-color-darker);
}

.hide {
  display: none;
}

.bold {
  font-weight: bold;
}

.align-right {
  text-align: right;
}

.expand-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
